@font-face {
    src: url("./font/NanumSquareRoundB.ttf");
    font-family: NanumSquareRoundB;
}

body {
    background-color: aliceblue;
    font-family: NanumSquareRoundB;
}

input {
    font-family: NanumSquareRoundB;
}

.dialogTitle {
    font-size: 20px;
}

input[type=button], button {
    cursor: pointer;
}

.overDate {
    opacity: 0.5;
    cursor: not-allowed;
}

/* logo */
#logo {
    float: right;
    width: 10%;
}

#loginLogo {
    width: 30%;
}

/* tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 30%;
    left: 360%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
}

/*.tooltip .tooltiptext::after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 100%;*/
/*    left: 50%;*/
/*    margin-left: -5px;*/
/*    border-width: 5px;*/
/*    border-style: solid;*/
/*    border-color: #555 transparent transparent transparent;*/
/*}*/

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltipMark {
    width: 20px;
    padding-top: 10px;
}

dl.selectDL{
    width: 332px;
    margin:0px;
}

dl.selectDL dd, dl.selectDL dt, dl.selectDL ul {
    margin: 0px;
    padding: 0px;
}

dl.selectDL dd {
    position: relative;
}

dl.selectDL a, a:visited {
    color: #3b3b3b;
    text-decoration: none;
    outline: none;
}

dl.selectDL a:hover {
    color: #3b3b3b;
}

dl.selectDL dt a:hover {
    color: #3b3b3b;
    border: 1px solid #9e9e9e;
}

dl.selectDL dt a {
    background: #fff url('/img/downArrow.png') no-repeat scroll 90%/20px;
    display: block;
    padding-right: 20px;
    border: 1px solid #9e9e9e;
    height: 33px;
}

dl.selectDL dt a span {
    cursor: pointer;
    display: block;
    line-height: 32px;
    width:100%;
    padding-left: 10px;
}

dl.selectDL dd ul {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #9e9e9e;
    color: #515151;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    top: -1px;
    width: auto;
    min-width: 330px;
    list-style: none;
    text-align: left;
    cursor: pointer;
}

dl.selectDL span.value {
    display: none;
}

dl.selectDL dd ul li a {
    padding: 5px;
    display: block;
    padding-left: 11px;
}

dl.selectDL dd ul li a:hover {
    background-color: #e8e8e8;
}